@import "tailwindcss";

@theme inline {
  --color-0: #ecead9;
  --color-1: #ffffff;
  --color-2: #000000;
  --color-3: #1e1e1e;
  --color-4: #dddddd;
  --color-5: #757575;
  --color-6: #161615;
  --color-7: #f0f0f0;
  --color-8: #949494;
  --color-9: #cccccc;
  --color-10: #cc1818;
  --color-11: #333333;
  --color-12: #eeeeee;
  --color-13: #2f2f2f;
  --color-14: #e0e0e0;
  --color-15: #32373c;
  --color-16: #4ab866;
  --color-17: #444444;
  --color-18: #408bd1;
  --color-19: #666666;
  --color-dark: #000000;
  --color-primary: #ecead9;
  --color-primary-light: #ecead9;
}

  body {
    @apply bg-white text-dark antialiased;
}
